
<countdown [config]="configCountDown" >$!m!:$!s!</countdown>
<!--#cd1<button (click)="cd1.pause()" class="btn btn-link btn-sm">pause</button>
<button (click)="cd1.resume()" class="btn btn-link btn-sm">resume</button>
<button (click)="cd1.stop()" class="btn btn-link btn-sm">stop</button>
<button (click)="cd1.restart()" class="btn btn-link btn-sm">restart</button>
<button (click)="changeLeftime()" class="btn btn-link btn-sm">less</button>-->
<ngx-counter [(ngModel)]="counterStart" [limit]=100000 size="small" theme="red"></ngx-counter>
<!--<ngx-counter [countValue]=1 [limit]=10 font="cursive" theme="green"></ngx-counter>
<ngx-counter [countValue]=0 [speed]=1000 size="big" (change)="counterChanged($event)"></ngx-counter>
<ngx-counter [countValue]=-1 [limit]=counterFinish size="large" font="Arial" theme="gray"></ngx-counter>
<ngx-counter countValue=-2 limit=10 size="xl" color="gold" bgcolor="#F5F5DC"></ngx-counter>-->
<button *ngFor="let waiter of levelSelected.waiter; let i=index" type="button" [disabled]="levelSelected.waiter.length>0"
  (click)="selectWaiter(i)">{{waiter.name}}</button>
<!--<div *ngFor="let level of levelSelected">-->
<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Table</th>
      <th>Drinks Left</th>
      <th>Food Left</th>
      <th>Drinks Served</th>
      <th>Food Served</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let table of levelSelected.tables">
      <td>{{table.name}} </td>
      <!--<td>{{ levelSelected | json}}</td>-->
      <td>{{levelSelected.drinks.length}}</td>
      <td>{{levelSelected.foods.length}}</td>
      <td>{{waiter[waiterSelected].loadDrinkItems.length }}</td>
      <td>{{waiter[waiterSelected].loadFoodItems.length}}</td>
      <td *ngIf="table.status!=='closed'">
        <button *ngIf="waiter[waiterSelected].loadDrinkItems.length==0 && levelSelected.drinks.length>0 && !isBill  "
          type="button" (click)="loadItem(1,'drink', table.name)" [ngClass]="{'disabled': isFreeSpace}" class="btn btn-2x btn-primary">Load
          drink</button>
        <button *ngIf="waiter[waiterSelected].loadFoodItems.length==0 && levelSelected.foods.length>0 && !isBill" type="button"
          (click)="loadItem(1,'food', table.name)" class="btn btn-2x btn-success" [ngClass]="{'disabled': isFreeSpace}">Load
          food</button>
        <button *ngIf="waiter[waiterSelected].loadDrinkItems.length>0 && !isBill" type="button"   (click)="serveItem(1,'drink', table.name)"
          class="btn btn-2x btn-primary">Serve
          drink</button>
        <button *ngIf="waiter[waiterSelected].loadFoodItems.length>0 && !isBill" type="button" (click)="serveItem(1,'food', table.name)"
          class="btn btn-2x btn-success">Serve
          food</button>
        <button *ngIf=" table.status ==='served'" type="button" (click)="sendBill(table.name)" class="btn btn-2x btn-warning">Bill</button>
        <button *ngIf=" table.status ==='billSended'" type="button" (click)="closeTable(table.name)" class="btn btn-2x btn-danger">Close</button>
      </td>
    </tr>
  </tbody>
</table>

<pre>{{levelSelected | json}}</pre>
<!--</div>-->
