
<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>Device</ng-template>
    <ng-template ngbTabContent><app-alert></app-alert></ng-template>
  </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>title</ng-template>
      <ng-template ngbTabContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
      <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
        <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
        craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
        yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
        shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
        sint qui sapiente accusamus tattooed echo park.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  
<div *ngFor="let level of levelSelected" class=" col-lg-12 jumbotron">

  <p>
    <label>Time:</label><span>{{level.time}}</span>,
    <label>Speed:</label><span>{{level.speed}}</span>,
    <label>Foods:</label><span>{{level.foods.length}}</span>,
    <label>Drinks:</label><span>{{level.drinks.length}}</span>,
    <label>Tables:</label><span>{{level.tables.length}}</span>,
    <label>Waiters:</label><span>{{level.waiters.length}}</span>,
    <label>Guests:</label><span>{{level.guests.length}}</span>,
    <label>Cookers:</label><span>{{level.cookers.length}}</span>,
  </p>
  <p>
    <label *ngFor="let waiter of level.waiter">
      <span>{{waiter.name}}//x:{{waiter.quantItems}}//h:{{waiter.hands}}</span>
    </label>
  </p>
  <p>
    <label *ngFor="let guest of level.guests">
      <span>{{guest.name}}// status {{guest.status}}</span>
    </label>
  </p>
  <p>
      <label *ngFor="let table of level.tables">
        <span>{{table.name}}// pax {{table.pax}}// status: {{table.status}} </span>
      </label>
    </p>
  <p>
    <label *ngFor="let cooker of level.cookers">
      <span>{{cooker.name}}//x:{{cooker.quantItems}}//h:{{cooker.hands}}</span>
    </label>
  </p>
  <pre>Kitchen:{{level.kitchen |json }}</pre>
  <pre>Tables:{{level.tables |json }}</pre>


</div>

