<div *ngFor="let level of levelSelected" class=" col-lg-12 jumbotron">

  <p>
    <label>Time:</label><span>{{level.time}}</span>,
    <label>Speed:</label><span>{{level.speed}}</span>,
    <label>Foods:</label><span>{{level.foods.length}}</span>,
    <label>Drinks:</label><span>{{level.drinks.length}}</span>,
    <label>Tables:</label><span>{{level.tables.length}}</span>,
    <label>Waiters:</label><span>{{level.waiter.length}}</span>,
  </p>
  <p>
    <label *ngFor="let waiter of level.waiter">
      <span>{{waiter.name}}//x:{{waiter.quantItems}}//h:{{waiter.hands}}</span>
    </label>
  </p>
  <p>
    <label *ngFor="let table of level.tables">
      <span>{{table.name}}//pax:{{table.pax}}</span>
    </label>
  </p>


</div>
<pre>level:{{level | json}}</pre>
<pre>player:{{player | json}}</pre>
<pre>levelsSelected:{{levelSelected | json}}</pre>
